<!--
    Pass message to GreetingComponent
    We can use "Hello, world!1234" directly
 -->
<!-- <app-greeting message="Hello, world!1234"/> -->

<!--
    If we use square bracket [] around message, the value expects the Javascript statement
        If we want to pass string, we should use single quotations
        Or we use variable like below
 -->
<!-- <app-greeting [message]="'Hello, world!1234'"/> -->

<!-- Pass homeMessage signal property of HomeComponent to GreetingComponent -->
<app-greeting [message]="homeMessage()"/>

<app-counter />

<!-- <input type="text" (keyup)="keyUpHandler()"> -->
<input 
    placeholder="Type something..."
    type="text"
    (keyup)="keyUpHandler($event)"
>